* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next", sans-serif;
}
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: 64px;
    align-items: center;
    background-color: white;
}

h4{
    font-weight: normal;
    color: gray;
    line-height: 34px;
    font-size: 20px;
}
h4 strong {
    color: #383838;
    font-weight: 600;
}
.logo{
    height: 32px;
    width: auto;
    display: flex;
}
nav {
    display: flex;
}
nav a {
    text-decoration: none;
    padding-left: 16px;
    color:#383838
}

.banner {
    position: relative;
    background-color: lightgrey;
    padding-top: 64px;
    display: flex;
    box-sizing: border-box;
}

.banner h1{
    font-size: 60px;
    padding-bottom: 32px;
}

.banner h2 {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 32px;
}

#bannerimg {
    width: 60%;
    height: auto;
    padding: 32px 24px;
}

.bannercontent {
    color: #383838;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

#starthere {
    color: white;
    background-color: #383838;
    font-weight: medium;
    text-align: center;
    padding: 8px 0;
    width: 100%;
}

.events {
    width: 100%;
    display: flex;
    padding: 32px 0 0 0;
    box-sizing: border-box;
}

#quote {
    margin: 0 24px;
    width: 60%;
}

.eventslist{
    width: 40%;
    border-left: 1px solid lightgray;
    margin-top: -32px;
    padding-top: 16px;
}

#quoteimg {
    width: 100%;
    height: auto;
}

#quote h2 {
   margin: 32px 0 24px 0;
    font-size: 40px;
}

#author {
    font-size: 12px;
    font-style: normal;
    margin: 32px 0 32px 0;
}

.eventimg {
    width: 35%;
    height: auto;
}

.eventitem {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid lightgray;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.iteminfo {
    width: 65%;
    padding-left: 16px;
    align-content: center;
}

.readmore {
    color: blue;
    margin-top: 8px;
}

#guest {
    background-color: lightgrey;
}

#learning {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

#learning h2 {
    font-size: 32px;
    margin: 32px 0;
    color: #383838;
}

#learningcards{
    display: flex;
    padding: 0 72px;
    margin: 0 0 32px 0;
    width: auto;
    flex-wrap: wrap;
    gap: 32px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    padding-bottom: 24px;
    box-sizing: border-box;
    width: calc((100% / 3) - (32px * 2 / 3));
}

.cardimg {
    margin-bottom: 16px;
    width: 100%;
}

.card p {
    margin: 8px 16px 0 16px;
}

.card h6 {
    margin: 0 16px 0 16px;
}

#thesis h2 {
    font-size: 32px;
    margin: 32px 0;
    color: #383838;
    width: auto;
    text-align: center;
}

#thesis {
    width: 100%;
}

#exhibit {
    width: 100%;
    display: flex;
}

#mainthesis {
    width: 60%;
    margin: 0 24px;
    height: auto;
}

#mainthesis video{
    margin-bottom: 24px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

#mainthesis p {
    margin: 8px 0 32px 0;
}

#otherthesis {
    width: 40%;
}

.thesiscard {
    display: flex;
    align-items: center;
}

.thesiscard img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.thesisinfo {
    width: 65%;
}

#one {
    background-color: lightgray;
}

footer {
    border-top: 1px solid lightgray;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 32px 24px;
}

#links {
    display: flex;
    gap: 12px;
}